node_modules
**/node_modules
.next
.git
.github
.idea
build
**/build
app
feature
shared
buildSrc
ci-actions
android-legacy
temp
*.log
npm-debug.log*
.env*.local
.env
*.db
*.db-journal
*.sqlite
*.sqlite3
data/
backend/data/
frontend/dist
backend/cmd/server/dist
